* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Comic Sans MS";
    letter-spacing: 1.85px;
}



/*footer頁尾---------------------------------------------------------------------------------------------------------*/

.footer {
    display: block;
    position: relative;
    z-index: 1;
    width: 1903px;
    height: 288px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(218, 218, 218);
    line-height: 40px;
    margin-top: 40px;
}

.footer-all {
    display: block;
    position: relative;
    width: 1530px;
    height: 280px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.footer-up {
    display: flex;

}

.footer-1,
.footer-2,
.footer-3 {
    display: block;
    width: 470px;
    height: auto;
    margin: 20px;
    text-align: left;
}

.footer-1 {
    padding-top: 30px;
}

.footer-2 {
    width: 560px;
    margin-top: 40px;
}

.footer-3 {
    margin-top: 40px;
    padding-left: 70px;
}

.footer-1>h1 {
    font-size: 33px;
    text-shadow: #888888 6px 4px 5px;
    margin-top: -20px;
    font-weight: 500;
}

.footer-1>h1>span {
    font-size: 22px;
    text-shadow: none;
}

.footer-1>h2 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 550;
}


.footer-2>h2,
.footer-3>h2 {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 550;
}

.footer-2>p>span>a {
    text-decoration: none;
    color: #7e695b;
    background-color: rgba(255, 255, 255, 0.082);
    border: solid #c4afa2 3.5px;
    padding: 2px 2px 2px 2px;
    border-radius: 30px;
    font-weight: bold;
    transition: .4s;
}

.footer-2>p>span>a:hover {
    color: #ffffff;
    border: solid #c4afa2 4px;
    background-color: #c4afa2;
    font-weight: normal;
}

.footer-3>span>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: .3s;
}

.footer-3>span>a:hover{
    opacity: 0.6;
}
.footer-down {
    text-align: center;
    font-size: 18px;

}

.footer-down>span {
    font-size: 16px;
}

.footer-down>p {
    padding-bottom: 10px;
}